.app-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .app-input {
    margin: 0 auto;
  }
}

.app-card {
  border: 1px solid black;
}

.app-header {
}

.app-footer {
}

.app-input {
  display: grid;
  & label {
    display: block;
    text-align: left;
  }
  & input {
    display: block;
  }
}
