.app-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2em;

  & .app-input {
    margin: 0 auto;
  }
}

.app-card {
  border: 1px solid black;
}

.app-header {
}

.app-footer {
}

.app-input {
  display: grid;
  & label {
    display: block;
    text-align: left;
  }
  & input {
    background-color: aliceblue;
    color: black;
    padding: 1em;
    height: em;
    border-radius: 2em;
    border: 1px solid grey;
    display: block;
  }
}
